* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Navigation bar */
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(247, 247, 194);
  padding: 5px;
  margin: auto;
}

.link {
  position: relative;
  text-decoration: none;
  font-family: "Pacifico", cursive; /* google font*/
  color: gray;
  font-size: 25px;
  letter-spacing: 0.5px;
}

.link:after {
  content: "";
  position: absolute;
  background-color: rgb(193, 193, 243);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.link:hover {
  color: black;
}

.link:hover:after {
  width: 100%;
}

.bee {
  height: 65px;
}

.cart {
  height: 34px;
  transition: 0.5s ease;
}
.link:hover .cart {
  opacity: 0.3;
}
/* "hero" */
.container {
  max-width: 100%;
  margin: 0 auto;
  font-size: 24px;
  padding: 15 px;
}

.para {
  background: url(img/sunflowers.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
}
.quote {
  padding: 30px;
  text-align: center;
  font-size: 30px;
  font-family: "Righteous", cursive;
  color: rgb(231, 171, 171);
}
.by {
  text-align: center;
  font-size: 30px;
  font-family: "Righteous", cursive;
  padding-bottom: 50px;
  color: rgb(231, 171, 171);
}
.container {
  max-width: 100%;
  margin: 0 auto;
  font-size: 24px;
  padding: 20 px;
}

.aboutus {
  margin: 100px;
}

footer {
  background-color: rgba(194, 247, 197, 0.596);
  padding: 0px;
  font-family: "Pacifico", cursive;
  font-size: 20px;
  text-align: center;
}

.logo {
  display: inline-block;
  color: gray;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.social {
  margin-bottom: -20px;
  padding-top: px;
}

.logo:hover {
  color: black;
}
.bee2 {
  height: 50px;
  padding: -20px;
  margin-top: 0px;
  margin-bottom: -20px;
}
